.large-hero {  /* block */
	position: relative;
	border-bottom: 10px solid $mainBlue;

	&__image {
		display: block;
	}

	&__text-content { /* __ = BEM element of .large-hero block */
		padding-top: 60px;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
	}

	&__title {
		font-weight: 300;
		color: $mainBlue;
		font-size: 2.4rem;
		margin: 0;

		@mixin atSmall {
			font-size: 4.8rem;
		}
	}

	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.5rem;
		margin: 0;

		@mixin atSmall {
			font-size: 2.9rem;
		}
	}

	&__description {
		color: #FFF;
		font-size: 1.1rem;
		font-weight: 100; 
		text-align: center;
		max-width: 30rem;
		margin: 1.5% auto;
		text-shadow: 2px 2px 1px rgb(0, 0, 0, .15);

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}
}

