.testimonial {
	background-color: rgba(255, 255, 255, .8);
	padding: 0 18px 1px;
  margin-bottom: 98px;

	@mixin atLarge {
		padding: 0 1.625rem 1px;
		margin-bottom: 0;
	}

	&--last {
		margin-bottom: 0;
	}

	&__photo { /* -- another way to create circlar image :?( */
		margin: 0 auto -80px auto; /* -80px bottom to bring content below up */
		height: 160px;
		width: 160px;
		border-radius: 80px; /* half of image height/width -- another way to create circlar image :?( */
		overflow: hidden;
		border: 6px #FCFCFD solid;
		position: relative;
		top: -80px;
	}

	&__title {
		color: $mainBlue;
		text-align: center;
		font-size: 1.6rem;
		font-weight: 500;
		margin: 0;
	}

	&__subtitle {
		color: $mainOrange;
		text-align: center;
		font-size: 1rem;
		font-weight: 400;
		margin: .25rem 0 1rem 0;
	}
}

