.wrapper {
	overflow: hidden;  /* hides right side overflow from .row--gutters -margin/+padding */
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;

	&--medium-width {
		max-width: 976px;
	}

	.wrapper {  /* offsets l/r padding above if .wrapper is nested in .wrapper... jeezus */
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin {
		margin-bottom: 1rem;

		@mixin atSmall {
			margin-bottom: 3.875rem;
		}
	}
}